@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    overflow: auto;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main, footer {
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}


table,
thead,
tbody,
tfoot,
tr,
th,
td {
    border: 1px solid black;
}

tfoot tr td {
    text-align: center;
}

h1 {
    color: #ac1212;
}

.fullStack {
    font-weight: bold;
}

.inizio {
    text-align: center;
    font-size: 1.2em;
    color: #F44A4A;
    background-image: url('../img/pexels-natasha-filippovskaya-2203043-11912754.jpg');

}

main {
    clear: both;
}

.mainTitle {
    color: #ac1212;
}

.imageContainer {

    float: left;
    margin-right: 15px;
    margin-bottom: 15px;

}

.imageContainer img {
    border: 1px solid transparent;
    border-radius: 50%;

}

.toscana {
    font-style: italic;
}

.topLinks a {
    color: hsl(67, 98%, 26%);
}

.topLinks a:hover {
    color: white;
}

.botLinks a:hover {
    color: red;
}

h2 {
    color: #1F3D7A;
}

.imageContaineralso p::first-letter {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    color: #1F3D7A;
    font-family: 'Times New Roman', Times, serif;

}

.rectangle1, .rectangle2 {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(241, 239, 239, 0.52);
    padding: 25px;
    margin-top: 20px;
} {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(241, 239, 239, 0.52);
    padding: 25px;
    margin: 20px;
}


.chi-sono h2 {

    margin-left: 30px;
    padding-left: 10px;
    border-left: 5px solid gold;

}

.competenze h2 {

    margin-left: 30px;
    padding-left: 10px;
    border-left: 5px solid gold;

}


.esperienze h2 {

    margin-left: 30px;
    padding-left: 10px;
    border-left: 5px solid gold;

}


.progetti h2 {

    margin-left: 30px;
    padding-left: 10px;
    border-left: 5px solid gold;

}

.contatti h2 {

    margin-left: 30px;
    padding-left: 10px;
    border-left: 5px solid gold;

}

label {
    color: #1F3D7A;
}

.github-link:hover {
    color: red;
}

#erase {
    color: white;
    background-color: hsl(220, 60%, 30%);
}

#sendForm {
    color: white;
    background-color: hsl(220, 60%, 30%);
}

#sendForm:hover {
    background-color: hsl(220, 60%, 45%);
}

#erase:hover {
    background-color: hsl(220, 60%, 45%);
}

input:focus {

    border: 2px solid white;
    background-color: black;
    color: white;
}

textarea:focus {
    background-color: black;
    color: white;
}

.botContacts {
    text-align: center;
    color: white;
    background-color: #172136;
}

.font {
    font-family: 'Helvetica Neue', Arial, sans-serif;

}